*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
scroll-behavior:smooth;
}

body{
background:black;
color:white;
overflow-x:hidden;
}

header{
position:fixed;
width:100%;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,0.7);
z-index:10;
}

header h2{
color:red;
}

header ul{
list-style:none;
display:flex;
gap:25px;
}

header ul li a{
text-decoration:none;
color:white;
transition:0.3s;
}

header ul li a:hover{
color:red;
}

/* HERO VIDEO */
.hero{
position:relative;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
overflow:hidden;
}

.hero video{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-2;
}

.hero::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0, 0, 0, 0.588);
z-index:-1;
}

.hero h1{
font-size:70px;
color:red;
animation:glow 2s infinite alternate;
}

.hero p{
margin-top:15px;
font-size:20px;
}

@keyframes glow{
from{ text-shadow:0 0 10px red; }
to{ text-shadow:0 0 40px crimson; }
}

section{
  padding:150px 8%;
  min-height:80vh; /* ensures the section takes enough vertical space */
  text-align:center;
  opacity:0;
  transform:translateY(40px);
  transition:0.8s;
}
    
section.show{
  opacity:1;            /* fade in to fully visible */
  transform:translateY(0); /* move to original position */
}

section h2{
font-size:35px;
margin-bottom:30px;
color:red;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
margin-top:30px;
}

.card{
background:#111;
padding:30px;
border-radius:15px;
transition:0.4s;
border:1px solid red;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px red;
}

footer{
background:#111;
padding:20px;
text-align:center;
}
.about-container{
  display:flex;
  flex-wrap:wrap;
  gap:30px;
  align-items:flex-start;
}

.about-text{
  flex:2;
  min-width:300px;
  line-height:1.6;
  font-size:17px;
}


/* Overlay */
.background-video-overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6); /* semi-transparent black */
  z-index: 0; /* between video and content */
}